{% extends 'base.html' %}
{% block title%}
Repo
{% endblock title%}

{% block content%}

  <style>
    .content {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .element {
      display: flex;
      width: 100%;
    }
  </style>
    <h6>Name : {{ name }}</h6><br>
    <h6>journalctl page</h6><br>
    <a href="/repo/{{ code }}">Back to Repo</a>
    <br><br><br>
    {% for x in journalctl %}
    {{ x }}<br>
    {% endfor%}
    <br><br><br>
    <!--
      <div>
        <h6>Name : {{ name }}</h6>
        <h6>Description : {{ description }}</h6>
        <h6>Repo Owner : {{ owner }}</h6>
        <h6>Back Log Number : {{ keepNumber }}</h6>
        <h6>Service File Path : {{ serviceFilePath }}</h6>
        <h6>Start Command : {{ startCommand }}</h6>
        <h6>Github Url : {{ url }}</h6>
        <h6>last Tag : {{ cTag }}</h6>
        <h6>Custom Code : {{ code }}</h6>
        <h6>Enabled On Start : {{ enable }}</h6>
        <h6>Date Created : {{ created }}</h6>
        <h6>Date Updated : {{ updated }}</h6>
      </div>
 
      -->
    


  
  

{% endblock content%}